
body {
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    margin: 0;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.mainwrapper{
    width: 100%;
    background-color: red;
}
.container{
    margin: 0 auto;
    background:blue;
    padding: 1rem;
}

.main{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            background: #000;
        }

        
    


.maincontainer {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: 1fr;
}
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.name-title{
    display: flex;
    flex-direction: column;
}
.name-title h3 {
    font-size: 0.9rem;
    font-weight: 500;
}
.name-title p {
    font-size: 0.8rem;
    opacity: 0.5;
}
img{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin:  10px 10px 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,1);

}
strong{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section1{
    background-color: purple;
    background-image: url(./bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:right;
    background-position-x: 75%;
    background-position-y: 5%;
    background-size: 15%;
    border-radius: 5px;
    grid-column: 1/3;
    grid-row: 1;
    padding: 10px 15px 0px 15px;
}

.section1 h2{
    color: white;
    font-size: 12px;
}

.section1 h3{
    color: white;
    font-size: 10px;
}
.section1 p{
    color: white;
    font-size: 13px; 
}
.section2{
    background-color: grey;
    border-radius: 5px;
    grid-column: 3/4;
    grid-row: 1;
    padding: 10px 15px 0px 15px;
 }
 .section2 h2{
    color: white;
    font-size: 12px;
}
.section2 h3{
    color: white;
    font-size: 10px;

}
.section2 p{
    color: white;
    font-size: 13px;
}
.section3{
    background-color: rgb(170, 246, 246);
    border-radius: 5px;
    grid-column:4/5;
    grid-row: 1/3;
    padding: 10px 15px 0px 15px;

    }
.section3 h2{
        color: black;
        font-size: 12px;
    }
.section3 h3{
        color:black;
        font-size: 10px;

    }
    .section3 p{
        color:black;
        font-size: 13px;
    }
.section4{
    background-color: rgb(183, 219, 250);
    border-radius: 5px;
    grid-column: 1;
    grid-row: 2;
    padding: 10px 15px 0px 15px;

}
.section4 h2{
    color: black;
    font-size: 12px;
}
.section4 h3{
    color: black;
    font-size: 10px;

}
.section4 p{
    color: black;
    font-size: 13px;
}
.section5{
    background-color: black;
    border-radius: 5px;
    grid-column: 2/4;
    grid-row: 2;
    padding: 10px 15px 0px 15px;

    }
.section5 h2{
        color: white;
        font-size: 12px;
    }
.section5 h3{
        color: white;
        font-size: 10px;

    }
    .section5 p{
        color: white;
        font-size: 13px;
    }


    @media  screen and (min-width:600px) {
        .main{
            grid-template-columns: 1fr 1fr;
        }
        
    }
    @media screen  and (min-width:900px){
        .main{
            grid-template-columns: 1fr 1fr 1fr;
        }
        
    }
    @media screen and (min-width:1024px) {
        .main{
            grid-template-columns: repeat(4, 1fr);
        }
        
    }


    @media screen and (min-width: 600px) {
        .maincontainer {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
        }
        
    }
    @media screen and (min-width: 900px) {
        .maincontainer {
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
        }
        
    }
    @media screen and (min-width: 1024px) {
        .maincontainer {
            grid-template-columns: repeat(4, 1fr);
            margin: 0 auto;
        }
        
        .section1, .section2, .section3, .section4, .section5 {
            padding: 26px;
            border-radius: 8px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    }
    